<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Associated videos:</strong>
  <%= @associated_videos %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> 
<%= link_to 'Delete', @genre, method: :delete, data: { confirm: 'Are you sure?' } %>
<br/><br/>
<%= link_to 'Back', genres_path %>
