
<div class="card border-secondary">
  <h2 class="card-header text-white bg-secondary"><strong>Finished Orders</strong></h2>
  <div class="card-body">
	<br/>
	<%= form_with(url: '/purchases/previous_purchases', method: 'get', local: true) do %>
	  <%= text_field_tag 'search', nil, id: 'videos_search', autocomplete: :off, placeholder: "Search.."  %>
	  <%= submit_tag("Search", class: "btn btn-outline-secondary") %>
	  <%= link_to "Clear", root_path, class: "btn btn-outline-secondary" %>
	<% end %>
<br />
	<%= form_for "", url: purchases_orders_path, role: "search", method: :get do %>
		<div class="form-row">
		    <div class="form-group col-md-2">
                       <%= number_field_tag :filter, @search_term, placeholder: "Filter by Orders...", min: 1, max: PurchaseHistory.count,value: params[:filter], :required => true, class:"form-control" %>
		    </div>
		    <div class="form-group col-md-2">
	               <%= select_tag :option, options_for_select([["Recent", 1], ["Oldest", 0]]), class:"form-control" %> 
		    </div>
		    <div class="form-group col-md-0">
		       <%= submit_tag "Filter", class: "btn btn-outline-secondary form-control" %>
		    </div>
		</div>
	<% end %>

	<br/>
	<table>
	  <thead>
	    <tr>
              <th><strong>Customer email</strong></th>
	      <th>Order Item</th>
	      <th colspan="1"></th>
	      <th>Qty.</th>
	      <th>Order Subtotal</th>
	      <th>Order details</th>
	      <th><strong>Status</strong></th>
	    </tr>
	  </thead>

	  <tbody>
	<% @finished_orders.each do |item| %>
	 <tr>
		<td><h6><%= item.customer.email %></h6></td>
		<td><h5><%= link_to item.video.name, item.video %></h5></td>
		<td><%= image_tag(item.video.thumbnail, size: '100x75', class: "img-responsive rounded") %></td>
		<td><h6><%= item.quantity %></h6></td>
		<td><h6>$<%= item.total.round(2) %></h6></td>
		<td><h6><%= item.purchased_at.strftime('Purchased on %m-%d-%Y at %I:%M%p') %></h6></td>
		<td><h6><strong> Completed.</strong></h6></td>
	</tr>
	<% end %>
	</tbody>
	</table>
        <% if params[:filter].nil? %>
 		<small> Displaying <strong>4</strong> out of <strong><%= PurchaseHistory.count %> results.</strong></small>
        <% else %>
                <% if params[:filter].to_i > PurchaseHistory.count || params[:filter].to_i < 0 %>
             		<small> Displaying <strong>All</strong> out of <strong><%= PurchaseHistory.count %></strong> results.</small>
                <% else %>
        	        <small> Displaying <strong><%= params[:filter] unless params[:filter].to_i > PurchaseHistory.count %></strong> out of <strong><%= PurchaseHistory.count %></strong> results.</small>
                <% end %>
        <% end %>
	<br/>
	
	<strong><hr /></strong>
  </div>
</div>
<br />
<br />
<div class="card border-secondary">
  <h2 class="card-header text-white bg-secondary"><strong>ORDERS TO BE CONFIRMED</strong></h2>
  <div class="card-body">
     <br/><br/>
     <% if @orders.empty? %><br />
	  <h5>No orders are to be confirmed yet.</h5>
     <% else %>
	<%= form_for "", url: purchases_orders_path, role: "search", method: :get do %>
		<div class="form-row">
		    <div class="form-group col-md-2">
		       <%= number_field_tag :filter2, @search_term, placeholder: "Filter by Orders...", min: 1, max: CartItem.count,value: params[:filter2], :required => true, class:"form-control" %>
		    </div>
		    <div class="form-group col-md-2">
		       <%= select_tag :option, options_for_select([["Recent", 1], ["Oldest", 0]]), class:"form-control" %> 
		    </div>
		    <div class="form-group col-md-0">
		       <%= submit_tag "Filter", class: "btn btn-outline-secondary form-control" %>
		    </div>
		</div>
	<% end %>
        <br />
	<table>
	  <thead>
	    <tr>
	      <th>Customer email</th> 
	      <th>Order Item</th>
	      <th colspan="1"></th>
	      <th>Qty.</th>
	      <th>Subtotal</th>
	      <th><strong>Status</strong></th>
	      <th colspan="1"></th>
	    </tr>
	  </thead>

	  <tbody>
	  <% @orders.each do |item| %>
	 <tr>
		<td><h6><%= item.customer.email %></h6></td>
		<td><h5><%= link_to item.video.name, item.video %></h5></td>
		<td><%= image_tag(item.video.thumbnail, size: '100x75', class: "img-responsive rounded") %></td>
		<td><h6><%= item.quantity %></h6></td>
		<td><h6>$<%= item.total.round(2) %></h6></td>
		<td><h6>Pending..</h6><br/><h7><strong>Added to cart.</strong></h7></td>
		<td><h6><%= button_to "Confirm", '', class: "btn btn-primary btn-sm text-white" %> <strong>-</strong> <%= button_to "Cancel", item, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-danger btn-sm text-white" %></h6></td>
	 <tr>
	  <% end %>
	</tbody>
	</table>
        <% if params[:filter2].nil? && CartItem.count > 4 %>
 		<small> Displaying <strong>4</strong> out of <strong><%= CartItem.count %> results.</strong></small>
        <% else %>
                <% if params[:filter2].to_i > CartItem.count || params[:filter2].to_i < 0 %>
             		<small> Displaying <strong>All</strong> out of <strong><%= pluralize(CartItem.count, 'result') %></strong>.</small>
                <% elsif !params[:filter2].nil? %>
        	        <small> Displaying <strong><%= params[:filter2] unless params[:filter2].to_i > CartItem.count %></strong> out of <strong><%= pluralize(CartItem.count, 'result') %></strong>.</small>
                <% else %>
             		<small> Displaying <strong><%= CartItem.count %></strong> out of <strong><%= pluralize(CartItem.count, 'result') %></strong>.</small>
                <% end %>
        <% end %>
      <% end %>
	<br/>

	<strong><hr /></strong>
  </div>
</div>
<br/><br/>
<div class="card border-secondary">
  <h2 class="card-header text-white bg-secondary"><strong>CANCELLED ORDERS</strong></h2>
  <div class="card-body">
	<br/><br/>
	<% if @cancelled_orders.empty? %><br />
	  <h5>No orders have been cancelled yet!</h5>
	<% else %>
	   <%= form_for "", url: purchases_orders_path, role: "search", method: :get do %>
		<div class="form-row">
		    <div class="form-group col-md-2">
	               <%= number_field_tag :filter3, @search_term, placeholder: "Filter by Orders...", min: 1, max: CancelledOrder.count,value: params[:filter3], :required => true, class:"form-control" %>
		    </div>
		    <div class="form-group col-md-2">
                      <%= select_tag :option, options_for_select([["Recent", 1], ["Oldest", 0]]), class:"form-control" %> 
		    </div>
		    <div class="form-group col-md-0">
		       <%= submit_tag "Filter", class: "btn btn-outline-secondary form-control" %>
		    </div>
		</div>
	   <% end %>

	<table>.
	  <thead>
	    <tr>
	      <th>Customer email</th> 
	      <th>Order Item(Video)</th>
	      <th>Qty.</th>
	      <th>Subtotal</th>
	      <th><strong>Status</strong></th>
	      <th>Cancelled Date</th>
	    </tr>
	  </thead>

	  <tbody>
	  <% @cancelled_orders.each do |item| %>
	  <tr>
		<td><h6><%= item.customer.email %></h6></td>
		<td><h6><strike><h5><%= link_to item.video.name, item.video %></strike></h5></td>
		<td><h6><strike><h6><%= item.quantity %></strike></h6></td>
		<td><h6><strike>$<%= item.total.round(2) %></strike><h6></td>
		<td><h6><strong>Cancelled.</strong></h6></td>
		<td><h6><strong><%= item.created_at.strftime('Cancelled on %m-%d-%Y at %I:%M%p') %></strong></h6></td>
	  </tr>
	  <% end %>
	</tbody>
	</table>
        <% if params[:filter3].nil? && CancelledOrder.count > 4 %>
 		<small> Displaying <strong>4</strong> out of <strong><%= CancelledOrder.count %> results.</strong></small>
        <% else %>
                <% if params[:filter3].to_i > CancelledOrder.count || params[:filter3].to_i < 0 %>
             		<small> Displaying <strong>All</strong> out of <strong><%= pluralize(CancelledOrder.count, 'result') %></strong>.</small>
                <% elsif !params[:filter3].nil? %>
        	        <small> Displaying <strong><%= params[:filter3] unless params[:filter3].to_i > CancelledOrder.count %></strong> out of <strong><%= pluralize(CancelledOrder.count, 'result') %></strong>.</small>
                <% else %>
             		<small> Displaying <strong><%= CancelledOrder.count %></strong> out of <strong><%= pluralize(CancelledOrder.count, 'result') %></strong>.</small>
                <% end %>
        <% end %>
      <% end %>
	<br/>

	<strong><hr /></strong>
  </div>
</div>


