
<h1>Videos</h1>

<%= form_for "", url: videos_index2_path, role: "search", method: :get do %>
  <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
  <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
  <%= link_to "Clear", videos_index2_path, class: "btn btn-outline-secondary" %>
<% end %>

<br/>
<table>
  <thead>
    <tr>
      <th rowspan="2"><%= link_to "Id", :sort => "id" %></th>
      <th rowspan="2"><%= link_to "Name", :sort => "name" %></th>
      <th rowspan="2"><%= link_to "Item Price", :sort => "rent_price" %></th>
      <th rowspan="2"><%= link_to "Available stock", :sort => "stock" %></th>
      <th colspan="3">Rental Copies available</th>
    </tr>
   <tr>
      <th><%= link_to "DVD", :sort => "dvd_copies" %> ($<%= Category.find(1).price %>/day)</th>
      <th><%= link_to "VHS", :sort => "vhs_copies" %> ($<%= Category.find(2).price %>/day)</th>
      <th><%= link_to "BLU-RAY", :sort => "bluray_copies" %> ($<%= Category.find(3).price %>/day)</th>

    </tr>
  </thead>

  <tbody>
    <% if @videos.empty? %>
      <tr>
         <td colspan="7" class="text-center">Sorry, no videos are available. :)</td>
      </tr>
    <% else %>
    <% @videos.each do |video| %>
        <tr>
          <td><%= video.id %></td>
          <td><%= link_to video.name, video %></td>
          <td>$<%= video.rent_price*2 %></td>
          <% if video.stock == 0 %>
            <td><small><strong>Out of stock</strong></small></td>
          <% else %>
            <td><%= video.stock %></td>
          <% end %>
          <td><%= link_to video.dvd_copies, edit_video_path(video) %></td>
          <td><%= link_to video.vhs_copies, edit_video_path(video) %></td>
          <td><%= link_to video.bluray_copies, edit_video_path(video) %></td>
        </tr>
    <% end %>
   <% end %>
  </tbody>
</table>
<%# link_to 'Export ~>', users_path(format: :xlsx) %>
<nav>
<br/>
<%= link_to 'New Video', new_video_path %>


