
<h1>Videos</h1>

<%= form_with(url: '/videos', method: 'get', local: true) do %>
  <%= text_field_tag 'search', nil, id: 'videos_search', autocomplete: :off, placeholder: "Search Videos.."  %>
  <%= submit_tag("Search", class: "btn btn-outline-secondary") %>
  <%= link_to "Clear", root_path, class: "btn btn-outline-secondary" %>
<% end %>

<form action="/videos" method="GET">
  <label for="filter">Filter Options</label>
  <select id="filter" name="filter" onchange="this.form.submit()">
    <option value="">Pick a Filter Option</option>
    <option value="genre" <%= "selected" if params[:filter] == "genre" %>>Filter by Genre</option>
  </select>
  <% if params[:filter] == "genre" %>
    <select name="filter_option" onchange="this.form.submit()">
      <option value="">Pick a Genre</option>
      <% @genres.each do |genre| %>
        <option value="<%= genre.id %>"><%= genre.name %></option>
      <% end %>
    </select>
  <% end %>
</form>



<br/>
      <div class="card-deck ">
       <div class="row row-cols-1 row-cols-md-3">
       <% if !@videos.empty? %>
        <% @videos.each do |video| %>
           <div class="col mb-4">
            <div class = "recipe">
              <div class="image-wrapper">
                <%= link_to video do %>
                  <%= image_tag(video.thumbnail, size: '310x285', class: "img-responsive") if video.thumbnail.present? %>
                <% end %>
              </div>
	      <div class="card-body">
                 <h3 class="card-title"><%= link_to video.name, video %></h3>
                 <p class="card-text"><%= link_to video.description, video %></p>
             </div>

	      <div class="card-footer">
               <% if @cart.line_items.include?(video) %>
                 <small><p>Video is in your cart!</p></small>
                 <small class="text-muted"><strong><%= link_to 'Remove from cart <--', line_item, method: :delete, data: { confirm: "Are you sure? " } %></strong></small>
               <% else %>
                <small class="text-muted"><strong><%= button_to 'Add to cart -->', line_items_path(video_id: video.id) %></strong></small>
               <% end %>
              </div>
              <br/>
            <div>
          </div>
     </div>
 </div>
<% end %>
<% else %>
<div>
  <h4> No matching results found! </h4><br/>
</div>
<% end %>


 <div class="card-deck ">
<h2>Recent Videos</h2>
       <div class="row row-cols-1 row-cols-md-3">
        <% @recent_videos.each do |video| %>
          <% unless @cart.line_items.include?(video) %>
           <div class="col mb-4">
            <div class = "recipe">
              <div class="image-wrapper">
                <%= link_to video do %>
                  <%= image_tag(video.thumbnail, size: '310x285', class: "img-responsive") if video.thumbnail.present? %>
                <% end %>
              </div>
	      <div class="card-body">
                 <h3 class="card-title"><%= link_to video.name, video %></h3>
                 <p class="card-text"><%= link_to video.description, video %></p>
             </div>

	      <div class="card-footer">
               <% if @cart.line_items.include?(video) %>
                 <small><p>Video is in your cart!</p></small>
                 <small class="text-muted"><strong><%= link_to 'Remove from cart <--', line_item, method: :delete, data: { confirm: "Are you sure? " } %></strong></small>
               <% else %>
                <small class="text-muted"><strong><%= button_to 'Add to cart -->', line_items_path(video_id: video.id) %></strong></small>
               <% end %>
              </div>
              <br/>
            <div>
          </div>
     </div>
 </div>
<% end %>
<% end %>


<br>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
<% if can? :create, Video %>
  <%= link_to 'New Video', new_video_path, class: "btn btn-outline-secondary" %>
<% end %>
<br>
</div>


