
<p>
  <strong>Rent price:</strong>
  $<%= @video.rent_price %>
</p>

	<%= form_for @rent_item, remote: true do |f| %>
	  <%= f.hidden_field :customer_id, :value => current_customer.id unless !customer_signed_in? %>
	  <%= f.hidden_field :video_id, :value => @video.id %>
	  <%= f.hidden_field :category_id, :value => @category_id.to_i  %>
<br/><br/>
        <% if @category_id.to_i == 1 %>
	  No of copies: <%= f.number_field :copies, :value => 1, :min => 1, :max => @video.dvd_copies, required: true %><small> Only <%= pluralize(@video.dvd_copies, 'copy')%> available!</small><br/><br/>
        <% elsif @category_id.to_i == 2 %>
	  No of copies: <%= f.number_field :copies, :value => 1, :min => 1, :max => @video.vhs_copies, required: true %><small> Only <%= pluralize(@video.vhs_copies, 'copy') %> available!</small><br/><br/>
        <% elsif @category_id.to_i == 3 %>
	  No of copies: <%= f.number_field :copies, :value => 1, :min => 1, :max => @video.bluray_copies, required: true %><small> Only <%= pluralize(@video.bluray_copies, 'copy') %> available!</small><br/><br/>
        <% end %>

  Expected return: <%= f.text_field :return_date, required: true, :value => Date.today+1,
    data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Date.today+1
    }, required: true %><small> Rent at least for a day!</small>


	  <br/><br/>
	  <%= f.submit "Add to list " %>

	<% end %>

