
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <section id="content-receipt" class="clearfix">
      <div id="receipt-container">
        <div class="dotmatrix left"></div>
        <div id="receipt-content">
          <h4 id="receipt-title">Hey, this is your order!</h4>
            <br/>===============================================<br/>
    RECEIPT       
     Items you ordered:-

          <div id="receipt-details" class="row clearfix">
            <div class="col-sm-8 receipt-left">
              <p><span class="font-weight-light">What you bought => </span>
                  <% @cart_items.each do |item| %>
                    <h6><strong class="font-weight-heavy"><%= item.video.name %></strong></h6>
                    <h6><strong class="font-weight-heavy">price: <%= item.unit_price %></strong></h6>
                    <h6><strong class="font-weight-heavy">Qty: <%= item.quantity %></strong></h6> 
                    <h6><strong class="font-weight-heavy">Item total: <%= item.total %></strong></h6>
                    <hr/><br/>
                 <% end %><hr/><hr /><br/>
              </p>
              <p><span class="font-weight-light">Amount => </span><strong class="font-weight-heavy">$<%= @sell_price %></strong></p>             
            </div>
          </div>
           <h5>Thank You!</h5>
          <footer id="receipt-footer">
            <small>Your purchase is complete. We hope you enjoy it!</small>
          </footer>
        </div>
        <div class="dotmatrix right"></div>
      </div>
      <div id="receipt-shadow"></div>
    </section>

  </body>
</html>


